section{
    display: grid;
    grid-template-areas: 
    
"Pop            Rock        Rap"
"Funk          Jazz        Blues"
 ;
   row-gap: 5rem;
   column-gap: 20rem;
   padding-bottom: 3rem;
   grid-column: auto;
   grid-area: auto;
   grid-template: auto;
   grid-template-columns: auto;
   
}
.pop{
    grid-area: Pop;
}
.rock{
    grid-area: Rock;
}
.rap{
    grid-area: Rap;
}
.Funk{
    grid-area: Funk;
}
.jazz{
    grid-area: Jazz;
}
.blues{
    grid-area: Blues;
}

.podrucje{
    font-size: 3rem;
    padding: 1rem;  
    font-family: fantasy;  
}

body{
    background-image: url(poz.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
    
}
h1{
    text-align: center;
    padding-bottom: 4rem;
    }
p{
    font-size:26px;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td, tr {
    border: 1px solid black;
    font-size: 20px;
    background-color: rgb(230, 230, 157);
    padding: 1rem;
    border-radius: 5rem;
    border-spacing: 1rem;
  }
 img{
     padding: 3rem;
     padding-left: 4in;
     image-resolution: from-image;
     
    
 }

 div.ploce{
     padding-top: 9rem;
 }
 div.ploce > p{
     font-size: 25px;
     background-color: blanchedalmond;
 }
 caption{
     font-size: 35px;
 }
 iframe{
     padding-top: 5rem;
     border: 0px;
     overflow-x: auto;
     overflow-y: auto;
     
    
     
 }
 p.tancanje{
     color: rgb(26, 21, 1);
 }
 object{
     padding-left: 4in
 }
 video{
     padding-left: 4in;
     
 }
 
 